.wrapper {
    padding: 10px 10px 200px 50px;
    margin-left: 20px;
    font-size: 9pt;
    overflow: auto;
    background-color: transparent;
}

table {
    width: 100%;
}

.mat-header-cell {
    font-size: 1.2em;
    font-weight: bold;
    // border-right: 1px solid rgb(179, 177, 177);
    padding: 0px 10px;
}

.mat-column-remark {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;
}

.mat-cell {
    white-space: nowrap;
    // border-right: 1px solid rgb(179, 177, 177);
    padding: 0px 10px;
}

.title {
    display: table;
    margin-bottom: 40px;
}

.title img {
    display: table-cell;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.title h2 {
    display: table-cell;
    vertical-align: middle;
}

img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.no-padding {
    padding: 0;
}

.font-bold {
    font-weight: bold;
}